* {
    padding: 0;
    margin: 0;
    background-color: #E9E9E8;
    font-family: forma-djr-text, sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-top: 10px;
}

.start-game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

#start-game-button {
    border: none;
}

.start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-family: forma-djr-text, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.square-container {
margin: 40px;
}

.square-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.square-container .square {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.background-img-1 {
display: flex;
flex-direction: row;
justify-content: flex-start;
margin-top: 30px;
margin-left: 80px;
}

.background-img-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 80px;
}

.hidden {
    display: none;
}

