* {
    padding: 0;
    margin: 0;
    background-color: #E9E9E8;
    font-family: forma-djr-text, sans-serif;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-top: 8px;
}

.spotify {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

}

.start-game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

#start-game-button {
    border: none;
}

#playlist {
    border: none;
}

.start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-family: forma-djr-text, sans-serif;
    color: black;
    font-style: normal;
    font-weight: 600;
}

a {
    font-family: forma-djr-text, sans-serif;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    text-decoration: none;
}

  a:hover {
    box-shadow: inset 20px 20px 20px 20px #000000;
    color: #E9E9E8;
  }














.background-img-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100px;
}

.hidden {
    display: none;
}

#board-container .square {
    width: 35px;
    height: 35px;
    border: 1.5px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

#board-container .no-square {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}


#keyboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.first-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px;
}

.second-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px;
}

.third-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px;
}

.keyboard-button {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.8em;
    margin: 1px;
    border: 1px solid #8D8D8D;
    border-radius: 5px;
    text-transform: uppercase;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2px;
    font-family: forma-djr-text, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.square-green {
    width: 35px;
    height: 35px;
    background-color: rgb(153, 223, 160);
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.square-yellow {
    width: 35px;
    height: 35px;
    background-color: rgb(225, 215, 137);
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

